.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ffc300;
    padding: 10px;
}
.logo{
    width: 150px;
    margin-left: 20px;
    height: auto;
}
.nav-items ul {
    display: flex;
    font-size: 23px;
    font-family: "Raleway", sans-serif;
    list-style-type: none;
    margin: 0;
}

.nav-items{
    margin-right: 30px;
}

.nav-items a > ul> li{
    margin-right: 30px;
    color: #fff;
    font-weight: bold;

}
.restro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
.restro-cards{

    width : 250px;
    height: auto;
    border-radius: 1px;
    padding: 10px;
    margin-top: 20px;

}
.restro-cards:hover{
    border: 1px solid #ccc;
    cursor: pointer;

}
.restro-logo{
    width: 100%;
    max-height: 133px;
    margin: 1px;
    border-radius: 5px;
}
.restro-cards h3 {
    text-align: left;
    font-family: "Poppins", sans-serif;
    padding: 5px;
    color: #333;
}
.restro-cards h5 {
    font-family: "Poppins Light", sans-serif;
    text-align: left;
    font-weight: 80;
    margin-bottom: 1px;
    margin-top: 1px;
    color: #666;
}
.restro-cards h4 {
    font-family: "Poppins Light", sans-serif;
    text-align: left;
    font-weight: 80;
    margin-bottom: 1px;
    margin-top: 10px;
    color: #666;
}
.search{
    padding: 10px;
}
.app{
    background-color: rgb(255, 255, 255);
}
.filter{
    display: flex;
    justify-content: space-around;
}
.fltrbtn{
    margin-top: auto;
    cursor: pointer;
    text-align: center;
    background-color: #4e3301;
    color: #fff;
    padding: 10px 20px;
    border: none;   
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;

}
.fltrbtn:hover{
    background-color: #6b481c;
}

.clicked{
    background-color: #1ca70f;
    color: #fff;
}
.clicked:hover{
    background-color: #1ca70f;
}
.clicked-container{
    display: flex;
    justify-content:space-around;
}

.red-heart {
    color : #c70039;
  }
.footer-div {
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 50px;
    line-height: 50px;
    background: #ffc300;
    color: #001d3d;
    text-align: center;
    font-family: "PT Sans", Raleway , Tahoma, sans-serif;
    margin-top: 20px;
  }

.icon{
    width: 50px;
    
}
.search-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 43px;
    margin-top: auto;
  }
  
  /* Style the input field */
  .search-box input[type="text"] {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    width: 250px;
  }
  
  /* Style the search button */
  .search-btn {
    margin-top: auto;
    background-color: #4e3301;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .search-btn:hover{
    background-color: #6b481c;
  }
  
  /* Change button color on hover */


  .login-btn{
    margin-left: 100px;
    margin-top: 20px;
    background-color: #4e3301;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    
  }
  .login-btn:hover{
    background-color:#6b481c;
  }

